{% extends "clients/base.html" %}

{% block title %} Главная страница {% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col-md-6">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Блог</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Просмотр публикаций</li>
                </ul>
                <div class="card-footer">
                    <a type="button" class="w-20 btn btn-lg btn-primary" href="" role="button">Вход</a>
                    <a type="button" class="w-20 btn btn-lg btn-primary" href="" role="button">Регистрация</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Сервис отправки рассылок</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Отправка рассылок по указаным адресам</li>
                </ul>
                <div class="card-footer">
                    <a type="button" class="w-20 btn btn-lg btn-primary" href="{% url 'newsletter:newsletters' %}" role="button">Вход</a>
                    <a type="button" class="w-20 btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Регистрация</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

