{% extends "clients/base.html" %}

{% block content %}
    <h1>Логин</h1>
    {% if form.errors %}
    <p>
        Имя пользователя и пароль не соответствуют.
    </p>
    {% else %}
    <p>Заполните форму</p>
    {% endif %}    
<div class="login-form">
    <form action="{% url 'users:login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input class="p-2 btn btn-outline-primary" type="submit" value="Войти"></p>
        <a type="button" class="w-20 btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Регистрация</a>
    </form>
</div>
{% endblock %}
              
